<nav>
    <div id="navbar">
    <div id="first">
      <img src="/assets/ship (1).svg" height="80%">
      <h1 style="font-size:200%">ShipIt</h1>
    </div>
    <div id="middle">
        <div class="middleele"><a  href="/Login" id="homelink">Login</a></div>
         <div class="middleele"><a  href="/AboutUs">AboutUs</a></div>
          <div class="middleele"><a  href="/ContactUs">ContactUs</a></div>
    </div>
    <div id="last">
      <button class="navbtn" id="modebtn"><img src="assets/moon.svg" id="modebtnimg"></button>
       <!-- <a href="/dark"><img src="assets/moon.svg" alt="moon"></a> -->
      <button class="navbtn" id="profilebtn"><img src="assets/user (1).svg" id="profilebtnimg"></button>
       <button class="navbtn" id="logout" onclick="window.document.location.href='/Login'"><img src="assets/log-out.svg" id="profilebtnimg"></button>
    </div>
    </div>
</nav>