<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShipIt | Account Recovery</title>
     <link rel="icon" type="image/x-icon" href="/assets/ship (1).svg">
     <link rel="stylesheet" href="/css/ForgotPasswordR.css">
</head>
<body>
    
    <div id="formdiv">
    <form method="post" action="/ForgotPasswordR">
         <h2>Account Retrival & Verification</h2>
        <div class="elediv">
        <label for="email">Email</label>
        <br>
        <input type="email" name="email" id="email" placeholder="Enter the registered email" required>
         </div>
         <div class="elediv" id="passworddiv">
        <label for="newpassword">New Password</label>
        <br>
        <input type="password" name="newpassword" id="newpassword">
         </div>
        <div class="elediv">
        <div id="btndiv">
            <button id="sendotp">Send Otp</button>
            <button id="otp" type="button">Enter Otp</button>
            <button id="changepassword" type="button">New Password</button>
        </div>
        </div>
         <div id="submitbtndiv">
         <button id="submitpassword" type="submit" id="submitbtn">Submit</button>
         </div>
    </form>
    </div>
</body>
<script src="/js/ForgotPasswordR.js"></script>
</html>