<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/header.ejs') %>
    <link rel="stylesheet" href="/css/RetailerSignUp.css">
</head>
<body>
  <%- include('../partials/navbar.ejs') %>
  <div id="formdiv">
     <form method="post" action="/RetailerSignUp">
        <h2>Register as a Shiper</h2>
        <p>Join ShipIt start bidding on shipments</p>
        <label for="fname">Fullname</label>
        <br>
        <input type="text" id="fname" name="fullname" required>
         <br>
        <label for="email">Email</label>
         <br>
        <input type="email" id="email" name="email" required>
         <br>
        <label for="phonenumber">Phonenumber</label>
         <br>
        <input type="number" id="phonenumber" name="phonenumber" required maxlenght="10" minlength="10">
         <br>
        <label for="dob">Date Of Birth</label>
         <br>
        <input type="date" id="dob" name="dob"required>
         <br>
        <label for="pa">Personal Address</label>
         <br>
        <input type="text" id="pa" name="pa"required>
         <br>
        <button type="button" id="companybtn">I Have A Company</button>
         <br>
         <div id="togglediv">
        <label for="ca">Company Address</label>
         <br>
        <input type="text" id="ca" name="ca">
         </div>
         <br>
        <label for="drivingliscence">Driving License</label>
         <br>
        <input type="text" id="drivingliscence" name="drivingliscence" required>
         <br>
        <label for="vr">Vechile Registration</label>
         <br>
        <input type="text" id="vr" name="vr" required>
         <br>
        <label for="confirmpassword">Confirm Password</label>
         <br>
        <input type="password" id="confirmpassword" name="confirmpassword" required>
         <br>
        <label for="verifypassword">Verify Password</label>
         <br>
        <input type="password" id="verifypassword" name="verifypassword" required>
         <br>
         <input type="number" id="ratings" name="ratings" value="0.0" required>
         <input type="text" id="ds" name="ds" value="f" required>
        <div id="caution">
            <div>
                <img src="/assets/triangle-alert.svg">
                <h3>Important Notice</h3>
            </div>
            <div id="paradiv">By registering, you agree to comply with all applicable transportation laws and regulations. You are responsible for maintaining valid licenses, insurance, and vehicle registrations.</div>
        </div>
        <input type="text" name="mode" id="mode" value="0" required>
        <br>
        <button id="signinbtn">Register As Shipper</button>
     </form>
  </div>
</body>
<script src="/js/RetailerSignUp.js"></script>
</html>