#navbar{
    display: flex;
    justify-content: space-between;
}
#first{
    display:flex;
}
#middle{
    display:flex;
    justify-content: space-around;
    width:20%;
    margin:2%;
}
#last{
    display:flex;
    justify-content: space-around;
    width:6%;
    margin:1.5% 0%;
}
.middleele{
    font-size:120%;
    overflow: visible;
}
.navbtn{
    border-radius:50%;
    border-color:rgb(57, 57, 58);
    background-color:white;
}
.navbtn:hover{
    background-color:rgb(249, 249, 249);
}
.middleele a{
    color:black;
    text-decoration: none;
    transition:transform 0.3s linear 0.05s;  
}
.middleele a:hover{
    color:#0369A1;
    transform: translateY(5px);
}
#main{
    margin:2vh 6vw;
    padding:1vh 2vw;
    padding-bottom:2vh;
    background-color:#F0F9FF;
    border-radius:25px;
}
#main h1{
    text-align:center;
}
#main .ele{
  display:flex;
  width:20vw;
}
.ele p{
    margin-left:1vw;
}
input{
    width:90%;
    padding:1%;
    border-radius: 20px;
}
textarea{
     width:90%;
    padding:1%;
    height:20vh;
    border-radius: 20px;
}
form button{
    padding:1% 6%;
     background-color:#0284C7;
   border:1px solid #0284C7;
    border-radius:25px;
    color:white;
     margin-left:40%;
     font-size:1.1rem;
}
form button:hover{
    background-color: #0369A1;
}
#body2{
     margin:4vh 6vw;
    padding:1vh 2vw;
    padding-bottom:2vh;
    background-color:#F0F9FF;
    border-radius:25px;
}
.imgq{
    display:flex;
    cursor: pointer;
}
.imgq p{
    margin-left:1vw;
    font-size:1.2rem;
}
.answer{
    display:none;
}
.visible{
    display:block;
}
/* <div id="beforelogin">
        <h2 class="beforeloginheading">To Interact With This Page,Please Login</h2>
        <div id="beforelogindiv">
          <button class="beforelogindivele" onclick="window.document.location.href='/Login'">Go To Login Page</button>
        </div>
      </div> */
/* body{
    overflow: hidden;
} */
#profileinfo{
    position: absolute;
    background-color: white;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items:center;
    box-shadow:0 0 10px 0 grey;
    padding:2vh 4vh;
    border-radius:25px;
    right:3vh;
    top:12vh;
    display: none;
}
#profileinfo button{
    background-color: #0284C7;
    padding:1vh 3vh; 
    border-radius:20px;
    font-size:1.1rem;
    color:white;
}
#profileinfo div{
    display:flex;
    justify-content: center;
}
#profileinfo button:hover{
   background-color: #0369A1;
}