body{
    font-family: Arial;
    margin-top:10%;
}
h2{
    text-align:center;
}

#formdiv{
    display:flex;
    justify-content: center;
}
form{
    box-shadow:0 0 10px 0 grey;
    padding:2vh 12vh;
    border-radius:25px;
}

button{
    background-color: #0284C7;
    color:white;
    padding:1vh 2vh;
    border-radius:15px;
    font-size:1rem;
    font-weight:600;
}
button:hover{
    background-color:#0369A1;
}
label{
    font-size:1.1rem;
}
input{
    margin:1vh 0vh;
    height:3vh;
    width:95%;
    padding:1vh;
    border-radius:15px;
    margin-left:1%;
}
.elediv{
    margin:2vh 0vh;
}
#submitbtndiv{
    display: flex;
    justify-content: center;
    width:100%;
    margin:2vh 0vh;
}
#passworddiv{
    display:none;
}
#submitpassword{
    width:100%;
    font-size:1.1rem;
    display:none;
}