#navbar{
    display: flex;
    justify-content: space-between;
}
#first{
    display:flex;
}
#middle{
    display:flex;
    justify-content: space-around;
    width:20%;
    margin:2%;
}
#last{
    display:flex;
    justify-content: space-around;
    width:6%;
    margin:1.5% 0%;
}
.middleele{
    font-size:120%;
    overflow: visible;
}
.navbtn{
    border-radius:50%;
    border-color:rgb(57, 57, 58);
    background-color:white;
}
.navbtn:hover{
    background-color:rgb(249, 249, 249);
}
.middleele a{
    color:black;
    text-decoration: none;
    transition:transform 0.3s linear 0.05s;  
}
.middleele a:hover{
    color:#0369A1;
    transform: translateY(5px);
}
#profilebtn{
    display:none;
}
#logout{
  display:block;
  padding:1vh;
}
#logout:hover{
    background-color:rgb(210, 210, 210);
}
#main{
    background-color:#F0F9FF;
    padding-bottom:2vh;
}
#firstdiv{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:1vh 2vh;
}
#firstdiv button{
   padding:1vh 2vh;
   font-size:1.3rem;
   border-radius:10px;
   font-weight:600;
}
#newshipment{
    background-color:#0284C7;
    color:white;
}
#newshipment:hover{
    background-color: #0369A1;
}
#mybids{
    background-color:#0284C7;
    color:white;
}
#mybids:hover{
     background-color: #0369A1;
}
#seconddiv{
  display:flex;
  justify-content: space-evenly;
  padding-bottom:4vh;
}
.seconddivele{
  background-color:white;
  width:27%;
  padding:0vh 4vh 2vh 4vh;
  box-shadow: 0 0 10px 0 grey;
  border-radius:20px;
}
#profileinfo{
    display:flex;
    justify-content:left;
    align-items: center;
    margin-left:4vh;
    margin-top:-2vh;
}
#profileinfo img{
    margin-top:2vh;
    height:8vh;
}
#profilediv{
    display: flex;
    flex-direction: column;
     justify-content: center;
    padding-top:2vh;
}
#profilediv h3{
    padding-top:0vh;
    margin-bottom:-1vh;
}
.formlikeele{
  background-color:rgb(240, 240, 240);
  padding:1vh;
  border:1px solid grey;
  border-radius:12px;
  margin-top:-2vh;
}
.formlike{
    margin-bottom:2vh;
}
.formlike p{
    font-size:1.1rem;
}
#thirddiv{
  background-color: white;
  width:94%;
  margin-left:2vh;
  margin-right:2vh;
  padding:1vh 4vh 2vh 4vh;
  box-shadow: 0 0 10px 0 grey;
  border-radius:20px;
  margin-bottom:2vh;
}
.thirdele{
    display:flex;
    justify-content: center;
    align-items: center;
}
.thirdele img{
    height:6vh;
    margin-right:1vh;
}
.thirdelement{
  display:flex;
  flex-direction: column;
  justify-content: left;
}
.thirdelement p{
    margin-bottom:-2vh;
}
#thirdelepar{
   display:flex;
  justify-content: space-between;
}
.outerte{
    width:30%;
    display:flex;
    justify-content: left;
    padding:2vh;
    border-radius:20px;
    box-shadow:0 0 10px 0 grey;
}
#fourthdiv{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom:2vh;
}
#fourthfirst{
   padding:2vh 3vh;
   width:64%;
   border-radius:20px;
   box-shadow:0 0 10px 0  grey;
   padding-bottom:6vh;
}
#fourthheader{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:0vh 1vh;
}
#fourthfirstinner{
  border:1px solid grey;
  padding:0vh 2vh;
  border-radius:10px;
  height:70%;
}
#pastshipments{
  padding:0vh;
  background-color:#0284C7;
  height:6vh;
  padding:1vh 4vh;
  font-size:1.3rem;
  color:white;
  border-radius:10px;
}
#pastshipments:hover{
    background-color: #0369A1;
}
#rupeediv{
   display:flex;
   flex-direction: column;
   align-items: center;
}
#rupeediv p{
    margin-top:-2vh;
}
#rupee{
    height:10vh;
}
.CS{
    display:flex;
    justify-content: space-between;
}
.CS p{
    font-size:1.2rem;
}
#seconddivflex{
    display:flex;
    justify-content:left;
    align-items: center;
}
#seconddivflex img{
    margin-right:1vh;
}
#profilebtn{
    display:none;
}
#displaysection{
    display:flex;
    flex-direction:column;
    height:23vh;
    overflow-y: auto;
}
.transitshipment{
    padding:0.5vh 2vh;
    box-shadow:0 0 10px 0 grey;
    border-radius:10px;
    margin:1vh;
}
.transitshipment div{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.transitshipment div img{
    height:8vh;
}
.transitshipment div button{
    padding:1vh;
    background-color: #0284C7;
    color:white;
     border-radius:10px;
    font-size:1.1rem;
}
.transitshipment div button:hover{
    background-color: #0369A1;
}
.viewdetailsdiv{
    box-shadow: 0 0 10px 0 gray;
    padding:1vh 4vh;
    position:fixed;
    top:8vh;
    width:50%;
    height:80vh;
    background-color: white;
    overflow-y: auto;
    border-radius:20px;
    display: none;
    scrollbar-width:none;
}
.viewdetailsdiv p{
    text-align: center;
}
.v
h4{
    text-align:center;
}
.vdheading{
    display:flex;
    justify-content: space-between;
}
.vdele h4{
    text-align: center;
}
.viewdetailsdiv h3{
    text-align: center;
}
.viewdetailsdiv  h4{
    margin-top:-1vh;
    text-align: center;
}
.viewdetails p{
    text-align: center;
}
.one{
    display:flex;
    justify-content: space-evenly;
}
.two{
    display:flex;
    justify-content: space-evenly;
}
.three{
     display:flex;
    justify-content: space-evenly;
}
.outervd{
    display:flex;
    justify-content: center;
}
.datediv{
    display: flex;
    justify-content: center;
}
.datediv img{
    margin-right:1vh;
}
.closex{
    height:5vh;
    border-radius:25px;
    background-color: white;
}